.card {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    background: #ADD8E6;
    color: #333;
    border-radius: 20px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    padding: 40px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.weather {
    background-color: #ADD8E6;
    display: none;
}

body {
    background: #ADD8E6;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}