.card{
    width: 470px;
    margin: 100px auto;
    background: #6495ED;
    color: #000000;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.weather{
    background-color: #0000FF;
    display: none;
}

body{
    background: #696969;
}